.salecart2 {
    position: absolute;
    top: 42px;
    left: 82px;
    font-size: var(--font-size-77xl);
    line-height: 24px;
    display: flex;
    font-weight: 900;
    font-family: var(--font-playfair-display);
    align-items: center;
    width: 516px;
    height: 68px;
  }
  .desktop-1-child {
    border: 0;
    background-color: var(--color-white);
    position: absolute;
    top: 45px;
    left: 996px;
    border-radius: var(--br-11xl);
    width: 308px;
    height: 64px;
  }
  .search1 {
    position: absolute;
    top: 65px;
    left: 1011px;
    line-height: 24px;
    font-family: var(--font-roboto);
  }
  .image-1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 49px;
    left: 1248px;
    border-radius: var(--br-167xl);
    width: 56px;
    height: 46px;
    background-image: url(./public/image-1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .vector-icon,
  .vector-icon1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon1 {
    height: 83.26%;
    width: 83.33%;
    top: 8.37%;
    right: 12.44%;
    bottom: 8.37%;
    left: 4.22%;
  }
  .material-design-iconsoutlined4 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: calc(50% - 770px);
    right: 20px;
    width: 45px;
    height: 43px;
    overflow: hidden;
  }
  .vector-icon3 {
    position: absolute;
    height: 76.51%;
    width: 83.41%;
    top: 12.56%;
    right: 8.29%;
    bottom: 10.93%;
    left: 8.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .material-design-iconsoutlined5 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: calc(50% - 770px);
    right: 75px;
    width: 41px;
    height: 43px;
    overflow: hidden;
  }
  .desktop-1-item {
    position: absolute;
    top: 180px;
    left: 0;
    background-color: #dad8d8;
    width: 292px;
    height: 1061px;
  }
  .desktop-1-inner {
    border: 0;
    background-color: var(--color-whitesmoke-200);
    position: absolute;
    top: 778px;
    left: 18px;
    width: 143px;
    height: 40px;
  }
  .price-txt {
    line-break: anywhere;
    width: 100%;
  }
  .price {
    position: absolute;
    top: 721px;
    left: 20px;
    font-size: var(--font-size-19xl);
    line-height: 24px;
    font-family: var(--font-roboto);
    display: flex;
    align-items: center;
    width: 87px;
    height: 44px;
  }
  .puma {
    margin: 0;
  }
  .amezon-flipcart-myntra-container,
  .brand,
  .puma-nike-adidas-container,
  .store {
    position: absolute;
    top: 475px;
    left: 67px;
    font-size: var(--font-size-13xl);
    line-height: 24px;
    font-family: var(--font-roboto);
    display: flex;
    align-items: center;
    width: 99px;
    height: 196px;
  }
  .amezon-flipcart-myntra-container,
  .brand,
  .store {
    top: 423px;
    left: 16px;
    font-size: var(--font-size-19xl);
    height: 22px;
  }
  .amezon-flipcart-myntra-container,
  .store {
    top: 266px;
    left: 67px;
    font-size: var(--font-size-13xl);
    width: 133px;
    height: 83px;
  }
  .store {
    top: 210px;
    left: 18px;
    font-size: var(--font-size-19xl);
    width: 121px;
    height: 31px;
  }
  .desktop-1-child1,
  .ellipse-div {
    position: absolute;
    top: 148px;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 32px;
  }
  .ellipse-div {
    top: 164px;
    left: 519px;
    border-radius: 50%;
    background-color: var(--color-gainsboro-300);
    width: 1px;
    height: 2px;
  }
  .women-men-kids {
    position: absolute;
    top: calc(50% - 563px);
    right: 505px;
    line-height: 24px;
    font-family: var(--font-roboto);
    display: flex;
    align-items: center;
    width: 445px;
    height: 32px;
  }
  .desktop-1-child2,
  .desktop-1-child3,
  .desktop-1-child4 {
    position: absolute;
    top: 255px;
    left: 20px;
    border-radius: var(--br-8xs);
    width: 25px;
    height: 18px;
  }
  .desktop-1-child3,
  .desktop-1-child4 {
    top: 298px;
    left: 18px;
  }
  .desktop-1-child4 {
    top: 342px;
  }
  .desktop-1-child5,
  .desktop-1-child6,
  .desktop-1-child7,
  .desktop-1-child8,
  .desktop-1-child9 {
    position: absolute;
    top: 475px;
    left: 20px;
    border-radius: var(--br-8xs);
    width: 25px;
    height: 18px;
  }
  .desktop-1-child6,
  .desktop-1-child7,
  .desktop-1-child8,
  .desktop-1-child9 {
    top: 519px;
  }
  .desktop-1-child7,
  .desktop-1-child8,
  .desktop-1-child9 {
    top: 555px;
  }
  .desktop-1-child8,
  .desktop-1-child9 {
    top: 605px;
  }
  .desktop-1-child9 {
    top: 653px;
  }
  .desktop-1-child10,
  .desktop-1-child11 {
    border: 0;
    background-color: var(--color-whitesmoke-200);
    position: absolute;
    top: 832px;
    left: 16px;
    width: 143px;
    height: 39px;
  }
  .desktop-1-child11 {
    cursor: pointer;
    padding: 0;
    background-color: var(--color-dimgray);
    top: 831px;
    left: 178px;
    border-radius: 10px;
    width: 92px;
    height: 42px;
  }
  .go {
    position: absolute;
    top: 841px;
    left: 200px;
    font-size: var(--font-size-19xl);
    line-height: 24px;
    font-family: var(--font-roboto);
    color: var(--color-white);
    display: flex;
    align-items: center;
    width: 48px;
    height: 21px;
  }
  .desktop-1-child12 {
    position: absolute;
    top: 296px;
    left: 327px;
    background-color: var(--color-white);
    filter: blur(4px);
    width: 342px;
    height: 423px;
  }
  .fastcolour-track-pants {
    position: absolute;
    top: 564px;
    left: 348px;
    font-size: var(--font-size-6xl);
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 279px;
    height: 22px;
  }
  .desktop-1-child13,
  .desktop-1-child14 {
    position: absolute;
    top: 296px;
    left: 697px;
    background-color: var(--color-white);
    width: 344px;
    height: 423px;
  }
  .desktop-1-child14 {
    left: 1065px;
    width: 342px;
  }
  .mens-glossy-black {
    position: absolute;
    top: 580px;
    left: 1075px;
    font-size: var(--font-size-6xl);
    line-height: 24px;
    font-weight: 500;
  }
  .image-11-icon,
  .image-12-icon,
  .image-13-icon {
    position: absolute;
    top: 307px;
    left: 416px;
    width: 191px;
    height: 230px;
    object-fit: cover;
  }
  .image-12-icon,
  .image-13-icon {
    top: 646px;
    left: 347px;
    width: 62px;
    height: 55px;
  }
  .image-13-icon {
    top: 307px;
    left: 763px;
    width: 238px;
    height: 230px;
  }
  .fastcolour-track-pants-container,
  .flipkart {
    position: absolute;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .fastcolour-track-pants-container {
    top: 556px;
    left: 716px;
    font-size: var(--font-size-6xl);
    width: 285px;
    height: 43px;
  }
  .flipkart {
    top: 663px;
    left: 410px;
    color: var(--color-mediumseagreen);
    width: 116px;
    height: 30px;
  }
  .desktop-1-child15 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-tomato);
    position: absolute;
    top: 655px;
    left: 520px;
    border-radius: var(--br-mini);
    width: 106px;
    height: 46px;
  }
  .buy,
  .flipkart1 {
    position: absolute;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .buy {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 667px;
    left: 551px;
    font-size: var(--font-size-9xl);
    font-family: var(--font-roboto);
    color: var(--color-gray-200);
    text-align: left;
    width: 48px;
    height: 22px;
  }
  .flipkart1 {
    top: 659px;
    left: 780px;
    color: var(--color-mediumseagreen);
    width: 116px;
    height: 30px;
  }
  .image-14-icon {
    position: absolute;
    top: 644px;
    left: 708px;
    width: 62px;
    height: 54px;
    object-fit: cover;
  }
  .buy1,
  .desktop-1-child16 {
    cursor: pointer;
    border: 0;
    padding: 0;
    position: absolute;
  }
  .desktop-1-child16 {
    background-color: var(--color-tomato);
    top: 653px;
    left: 905px;
    border-radius: var(--br-mini);
    width: 106px;
    height: 45px;
  }
  .buy1 {
    background-color: transparent;
    top: 663px;
    left: 935px;
    font-size: var(--font-size-9xl);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--color-gray-200);
    text-align: left;
    display: flex;
    align-items: center;
    width: 48px;
    height: 21px;
  }
  .image-15-icon,
  .image-16-icon {
    position: absolute;
    top: 307px;
    left: 1137px;
    width: 187px;
    height: 265px;
    object-fit: cover;
  }
  .image-16-icon {
    top: 646px;
    left: 1082px;
    width: 62px;
    height: 60px;
  }
  .flipkart2 {
    position: absolute;
    top: 665px;
    left: 1152px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-mediumseagreen);
    display: flex;
    align-items: center;
    width: 116px;
    height: 33px;
  }
  .buy2,
  .desktop-1-child17 {
    cursor: pointer;
    border: 0;
    padding: 0;
    position: absolute;
  }
  .desktop-1-child17 {
    background-color: var(--color-tomato);
    top: 653px;
    left: 1276px;
    border-radius: var(--br-mini);
    width: 106px;
    height: 50px;
  }
  .buy2 {
    background-color: transparent;
    top: 665px;
    left: 1307px;
    font-size: var(--font-size-9xl);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--color-gray-200);
    text-align: left;
    display: inline-block;
  }
  .desktop-1-child18 {
    position: absolute;
    top: 818px;
    left: 321px;
    background-color: var(--color-white);
    filter: blur(4px);
    width: 342px;
    height: 423px;
  }
  .women-casual-wear {
    position: absolute;
    top: 1089px;
    left: 360px;
    font-size: var(--font-size-6xl);
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 237px;
    height: 21px;
  }
  .image-19-icon,
  .image-20-icon {
    position: absolute;
    top: 828px;
    left: 388px;
    width: 191px;
    height: 230px;
    object-fit: cover;
  }
  .image-20-icon {
    top: 1168px;
    left: 357px;
    width: 62px;
    height: 54px;
  }
  .flipkart3 {
    position: absolute;
    top: 1185px;
    left: 420px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-mediumseagreen);
    display: flex;
    align-items: center;
    width: 116px;
    height: 30px;
  }
  .desktop-1-child19 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-tomato);
    position: absolute;
    top: 1177px;
    left: 530px;
    border-radius: var(--br-mini);
    width: 106px;
    height: 45px;
  }
  .buy3 {
    position: absolute;
    top: 1189px;
    left: 561px;
    font-size: var(--font-size-9xl);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--color-gray-200);
    display: flex;
    align-items: center;
    width: 48px;
    height: 22px;
  }
  .desktop-1-child20 {
    position: absolute;
    top: 818px;
    left: 708px;
    background-color: var(--color-white);
    filter: blur(4px);
    width: 342px;
    height: 423px;
  }
  .women-trendy-wear {
    position: absolute;
    top: 1086px;
    left: 729px;
    font-size: var(--font-size-6xl);
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 237px;
    height: 22px;
  }
  .image-22-icon {
    position: absolute;
    top: 1168px;
    left: 728px;
    width: 62px;
    height: 54px;
    object-fit: cover;
  }
  .flipkart4 {
    position: absolute;
    top: 1185px;
    left: 791px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-mediumseagreen);
    display: flex;
    align-items: center;
    width: 116px;
    height: 30px;
  }
  .desktop-1-child21 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-tomato);
    position: absolute;
    top: 1177px;
    left: 901px;
    border-radius: var(--br-mini);
    width: 106px;
    height: 45px;
  }
  .buy4 {
    position: absolute;
    top: 1190.5px;
    left: 931.4px;
    font-size: var(--font-size-9xl);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--color-gray-200);
    display: flex;
    align-items: center;
    width: 48px;
    height: 22px;
    transform: rotate(-3.45deg);
    transform-origin: 0 0;
  }
  .off1 {
    color: var(--color-mediumseagreen);
  }
  .off {
    position: absolute;
    top: 1123px;
    left: 714px;
    font-size: var(--font-size-7xl);
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 207px;
    height: 22px;
  }
  .desktop-1-child22 {
    position: absolute;
    top: 817px;
    left: 1075px;
    background-color: var(--color-white);
    filter: blur(4px);
    width: 342px;
    height: 413px;
  }
  .women-white-t-shirt {
    position: absolute;
    top: 1083px;
    left: 1099px;
    font-size: var(--font-size-6xl);
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 241px;
    height: 23px;
  }
  .image-24-icon {
    position: absolute;
    top: 1160px;
    left: 1082px;
    width: 62px;
    height: 60px;
    object-fit: cover;
  }
  .flipkart5 {
    position: absolute;
    top: 1177px;
    left: 1152px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-mediumseagreen);
    display: flex;
    align-items: center;
    width: 116px;
    height: 33px;
  }
  .desktop-1-child23 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-tomato);
    position: absolute;
    top: 1165px;
    left: 1273px;
    border-radius: var(--br-mini);
    width: 106px;
    height: 50px;
  }
  .buy5,
  .off2 {
    position: absolute;
    line-height: 24px;
    font-weight: 500;
  }
  .buy5 {
    top: 1178px;
    left: 1300px;
    font-size: var(--font-size-9xl);
    font-family: var(--font-roboto);
    color: var(--color-gray-200);
  }
  .off2 {
    top: 1128px;
    left: 1082px;
    font-size: var(--font-size-7xl);
  }
  .image-25-icon,
  .image-26-icon {
    position: absolute;
    top: 836px;
    left: 781px;
    width: 191px;
    height: 242px;
    object-fit: cover;
  }
  .image-26-icon {
    top: 835px;
    left: 1144px;
    width: 184px;
    height: 247px;
  }
  .off4 {
    position: absolute;
    top: 1125px;
    left: 348px;
    font-size: var(--font-size-7xl);
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 207px;
    height: 22px;
  }
  .find-a-store2,
  .send-us-feedback2 {
    position: relative;
    line-height: 32.67px;
    text-transform: uppercase;
  }
  .send-us-feedback2 {
    font-size: var(--font-size-4xs);
  }
  .div33,
  .ul12 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ul12 {
    flex-direction: column;
    padding: 0 147.25px 0 0;
    gap: 2.66px;
  }
  .div33 {
    position: absolute;
    top: 0;
    left: 6px;
    overflow: hidden;
    flex-direction: row;
    padding: 0 0 2.65625px;
  }
  .div32,
  .get-help2 {
    position: relative;
    color: var(--color-white);
  }
  .div32 {
    width: 257.3px;
    height: 178.3px;
  }
  .get-help2 {
    font-size: var(--font-size-3xs);
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .delivery2,
  .order-status2 {
    position: relative;
    line-height: 28px;
  }
  .delivery2 {
    font-size: var(--font-size-xs);
  }
  .div35,
  .ul13 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ul13 {
    flex-direction: column;
    padding: 0 77.25px 0 0;
    gap: var(--gap-10xs);
  }
  .div35 {
    position: absolute;
    top: 0;
    left: 6px;
    overflow: hidden;
    flex-direction: row;
    padding: 0 0 var(--padding-10xs);
  }
  .div34,
  .investors2 {
    position: relative;
    font-size: var(--font-size-2xs);
  }
  .div34 {
    width: 257.3px;
    height: 213px;
  }
  .investors2 {
    line-height: 28px;
  }
  .ul14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 179.25px 0 0;
    gap: var(--gap-10xs);
  }
  .div36 {
    position: relative;
    width: 257.3px;
    height: 151px;
    font-size: var(--font-size-xs);
  }
  .div30,
  .div31 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div31 {
    padding: 0 257.25px 0 0;
  }
  .div30 {
    position: absolute;
    top: 20px;
    left: 92px;
    padding: 0 var(--padding-7xs) 0 0;
  }
  .material-design-iconsoutlined6 {
    position: relative;
    width: 15px;
    height: 15px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .india2 {
    position: relative;
    line-height: 12px;
  }
  .selected-location-in2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 8.03125px 0 0;
    gap: var(--gap-5xs);
  }
  .design-highly-inspired2 {
    position: relative;
    font-size: var(--font-size-2xs);
    line-height: 12px;
    color: var(--color-gray-100);
  }
  .div39,
  .guides2 {
    position: absolute;
  }
  .div39 {
    top: 12px;
    left: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-mid) 410.96875px 0 0;
    gap: var(--gap-base);
  }
  .guides2 {
    top: 10px;
    left: calc(50% - 36.1px);
    line-height: 28px;
    text-align: center;
  }
  .our-privacy-policy2,
  .terms-of-sale2,
  .terms-of-use2 {
    position: absolute;
    top: 10px;
    right: 237.1px;
    line-height: 28px;
  }
  .our-privacy-policy2,
  .terms-of-use2 {
    right: 138.7px;
  }
  .our-privacy-policy2 {
    right: 8px;
    font-size: var(--font-size-2xs);
  }
  .ul15 {
    top: 16px;
    left: 686px;
    width: 680px;
    height: 46px;
    text-align: right;
    color: var(--color-gray-100);
  }
  .div38,
  .footer2,
  .ul15 {
    position: absolute;
  }
  .div38 {
    top: 249px;
    left: 92px;
    width: 1372px;
    height: 62px;
    font-size: var(--font-size-xs);
    color: var(--color-white);
  }
  .footer2 {
    width: calc(100% + 72px);
    top: 1344px;
    right: -24px;
    left: -48px;
    background-color: var(--color-gray-200);
    height: 331px;
    font-size: var(--font-size-3xs);
    color: var(--color-gray-100);
    font-family: var(--font-helvetica-neue);
  }
  .desktop-1 {
    position: relative;
    background-color: var(--color-blanchedalmond);
    width: 100%;
    height: 1652px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  