{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static "css/Fglobal.css" %}" />
    <link rel="stylesheet" href="{% static "css/Fcart.css" %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,600;0,700;1,900&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400;500;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson Text:wght@400;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;1,400&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hiragino Kaku Gothic Pro:wght@400&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&amp;display=swap"
    />
  </head>
  <body>
    <div class="cart2">
      <div class="frame-parent4">
        <div class="frame-wrapper4">
          <div class="frame-wrapper5">
            <div class="frame-parent5">
              <div class="men-parent1">
                <div class="men3">Men</div>
                <div class="women4">Women</div>
                <div class="men3">Kids</div>
                <div class="customise3">Customise</div>
                <div class="sale3">Sale</div>
              </div>
              <div class="div-parent1">
                <input class="div100" type="text" />

                <div class="div101">
                  <img
                    class="material-design-iconsoutlined15"
                    alt=""
                    src="./public/material-design-iconsoutlined1.svg"
                  />

                  <img
                    class="material-design-iconsoutlined15"
                    alt=""
                    src="./public/material-design-iconsoutlined2.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <i class="salecart4">SaleCart</i>
      </div>
      <img
        class="material-design-iconsoutlined17"
        alt=""
        src="./public/material-design-iconsoutlined1.svg"
      />

      <img
        class="material-design-iconsoutlined18"
        alt=""
        src="./public/material-design-iconsoutlined4.svg"
      />

      <div class="div1cf9c3b1-4944-4882-9606-0f3">
        <div class="div102">
          <div class="h412">
            <div class="icononic3">Icononic</div>
          </div>
          <div class="div103">
            <div class="ul33">
              <div class="a48">
                <div class="icononic3">Air Force 1</div>
              </div>
              <div class="a49">
                <div class="icononic3">King crown</div>
              </div>
              <div class="a50">
                <div class="icononic3">Air Max 90</div>
              </div>
              <div class="a50">
                <div class="icononic3">Air Max 95</div>
              </div>
            </div>
          </div>
          <div class="h413">
            <div class="icononic3">Shoes</div>
          </div>
          <div class="div104">
            <div class="ul33">
              <div class="a52">
                <div class="icononic3">All Shoes</div>
              </div>
              <div class="a53">
                <div class="icononic3">Custom Shoes</div>
              </div>
              <div class="a54">
                <div class="icononic3">Nike Shoes</div>
              </div>
              <div class="a55">
                <div class="icononic3">Addidas Shoes</div>
              </div>
            </div>
          </div>
          <div class="h414">
            <div class="icononic3">Clothing</div>
          </div>
          <div class="div105">
            <div class="ul33">
              <div class="a56">
                <div class="icononic3">All Clothing</div>
              </div>
              <div class="a57">
                <div class="icononic3">Modest Wear</div>
              </div>
              <div class="a58">
                <div class="icononic3">Hoodies &amp; Pullovers</div>
              </div>
              <div class="a59">
                <div class="icononic3">Shirts &amp; Tops</div>
              </div>
            </div>
          </div>
          <div class="h415">
            <div class="icononic3">Kids</div>
          </div>
          <div class="div106">
            <div class="ul33">
              <div class="a60">
                <div class="icononic3">Infant &amp; Toddler Shoes</div>
              </div>
              <div class="a61">
                <div class="icononic3">Kids' Shoes</div>
              </div>
              <div class="a62">
                <div class="icononic3">Kids' Summer Shoes</div>
              </div>
              <div class="a63">
                <div class="icononic3">Kids' Basketball Shoes</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer5">
        <div class="div107">
          <div class="div108">
            <div class="div109">
              <div class="div110">
                <div class="div111">
                  <div class="ul37">
                    <div class="find-a-store5">Find A Store</div>
                    <div class="find-a-store5">Become A Member</div>
                    <div class="find-a-store5">Sign Up for Email</div>
                    <div class="send-us-feedback5">Send Us Feedback</div>
                    <div class="send-us-feedback5">Student Discounts</div>
                  </div>
                </div>
              </div>
              <div class="div112">
                <div class="div113">
                  <div class="ul38">
                    <div class="get-help5">Get Help</div>
                    <div class="estimated-delivery">Order Status</div>
                    <div class="delivery5">Delivery</div>
                    <div class="delivery5">Returns</div>
                    <div class="estimated-delivery">Payment Options</div>
                    <div class="estimated-delivery">
                      Contact Us On Inquiries
                    </div>
                  </div>
                </div>
              </div>
              <div class="div114">
                <div class="div113">
                  <div class="ul39">
                    <div class="get-help5">About US</div>
                    <div class="estimated-delivery">News</div>
                    <div class="estimated-delivery">Careers</div>
                    <div class="investors5">Investors</div>
                    <div class="investors5">Sustainability</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div116">
            <div class="div117">
              <div class="selected-location-in5">
                <img
                  class="material-design-iconsoutlined19"
                  alt=""
                  src="./public/material-design-iconsoutlined3.svg"
                />

                <div class="india5">India</div>
              </div>
              <div class="design-highly-inspired5">
                © 2022 Design Highly inspired by Nike.com
              </div>
            </div>
            <div class="ul40">
              <div class="guides5">Guides</div>
              <div class="terms-of-sale5">Terms of Sale</div>
              <div class="terms-of-use5">Terms of Use</div>
              <div class="our-privacy-policy5">Our Privacy Policy</div>
            </div>
          </div>
        </div>
      </div>
      <div class="aside">
        <div class="summary">Summary</div>
        <div class="div118">
          <div class="subtotal">Subtotal</div>
          <div class="toggle-tooltip">
            <div class="estimated-delivery"></div>
          </div>
          <div class="div120">₹ 0.00</div>
        </div>
        <div class="div121">
          <div class="estimated-delivery">Estimated Delivery &amp; Handling</div>
          <div class="free">Free</div>
        </div>
        <div class="div122">
          <div class="total">Total</div>
          <div class="div123">₹ 0.00</div>
        </div>
        <button class="button7">
          <div class="checkout">Checkout</div>
        </button>
      </div>
      <div class="bag">Bag</div>
      <div class="there-are-no">There are no items in your bag.</div>
      <div class="aerodyno-dsea98-shoe-group">
        <div class="aerodyno-dsea98-shoe1">Aerodyno DSEA98 Shoe</div>
        <div class="div124">
          <div class="div125">
            <div class="rs-2299001">Rs. 2,299.00</div>
          </div>
        </div>
      </div>
      <div class="div126">
        <img
          class="acg-dri-fit-adv-goat-rocks-sle-icon3"
          alt=""
          src="./public/acgdrifitadvgoatrockssleevelesstank1pbltspng3@2x.png"
        />
      </div>
    </div>
  </body>
</html>
