{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/Fglobal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Fhomepage.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,600;0,700;1,900&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400;500;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson Text:wght@400;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;1,400&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hiragino Kaku Gothic Pro:wght@400&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&amp;display=swap"
    />

    <script src="{% static 'js/Fhomepage.js' %}"></script>
  </head>
  <body>
    {% comment %} <div class="notification-message">{{message}}</div> {% endcomment %}
    <div class="homepage">
      <i class="salecart">SaleCart</i>
      <div class="div44edacc1-3092-4227-8ca3-11">
        <div class="figure">
          <div class="div">
            <img
              class="nike-just-do-itjpg-icon"
              alt=""
              src="{% static 'Fimages/nikejustdoitjpg@2x.png' %}"
            />

            <b class="get-the-exclusive"
              >get the exclusive deals on your favourite brands</b
            >
          </div>
          <div class="the-best-way-container">
            <span class="the-best-way-container1">
              <p class="the-best-way">
                The best way to beat the heat is to buy new clothes, but if
                you're not sure where to start, we've got you covered.
              </p>
              <p class="the-best-way">
                Here are some of our favorite products that will make you look
                amazing in the summer:
              </p>
            </span>
          </div>
        </div>
      </div>
      <div class="div1cf9c3b1-4944-4882-9606-0f">
        <div class="div1">
          <div class="h4">
            <div class="icononic">Icononic</div>
          </div>
          <div class="div2">
            <div class="ul">
              <div class="a">
                <div class="icononic">Air Force 1</div>
              </div>
              <div class="a1">
                <div class="icononic">King crown</div>
              </div>
              <div class="a2">
                <div class="icononic">Air Max 90</div>
              </div>
              <div class="a2">
                <div class="icononic">Air Max 95</div>
              </div>
            </div>
          </div>
          <div class="h41">
            <div class="icononic">Shoes</div>
          </div>
          <div class="div3">
            <div class="ul">
              <div class="a4">
                <div class="icononic">All Shoes</div>
              </div>
              <div class="a5">
                <div class="icononic">Custom Shoes</div>
              </div>
              <div class="a6">
                <div class="icononic">Nike Shoes</div>
              </div>
              <div class="a7">
                <div class="icononic">Addidas Shoes</div>
              </div>
            </div>
          </div>
          <div class="h42">
            <div class="icononic">Clothing</div>
          </div>
          <div class="div4">
            <div class="ul">
              <div class="a8">
                <div class="icononic">All Clothing</div>
              </div>
              <div class="a9">
                <div class="icononic">Modest Wear</div>
              </div>
              <div class="a10">
                <div class="icononic">Hoodies &amp; Pullovers</div>
              </div>
              <div class="a11">
                <div class="icononic">Shirts &amp; Tops</div>
              </div>
            </div>
          </div>
          <div class="h43">
            <div class="icononic">Kids</div>
          </div>
          <div class="div5">
            <div class="ul">
              <div class="a12">
                <div class="icononic">Infant &amp; Toddler Shoes</div>
              </div>
              <div class="a13">
                <div class="icononic">Kids' Shoes</div>
              </div>
              <div class="a14">
                <div class="icononic">Kids' Summer Shoes</div>
              </div>
              <div class="a15">
                <div class="icononic">Kids' Basketball Shoes</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="div6">
          <div class="div7">
            <div class="div8">
              <div class="div9">
                <div class="div10">
                  <div class="ul4">
                    <div class="find-a-store">Find A Store</div>
                    <div class="find-a-store">Become A Member</div>
                    <div class="find-a-store">Sign Up for Email</div>
                    <div class="send-us-feedback">Send Us Feedback</div>
                    <div class="send-us-feedback">Student Discounts</div>
                  </div>
                </div>
              </div>
              <div class="div11">
                <div class="div12">
                  <div class="ul5">
                    <div class="get-help">Get Help</div>
                    <div class="order-status">Order Status</div>
                    <div class="delivery">Delivery</div>
                    <div class="delivery">Returns</div>
                    <div class="order-status">Payment Options</div>
                    <div class="order-status">Contact Us On Inquiries</div>
                  </div>
                </div>
              </div>
              <div class="div13">
                <div class="div12">
                  <div class="ul6">
                    <div class="get-help">About US</div>
                    <div class="order-status">News</div>
                    <div class="order-status">Careers</div>
                    <div class="investors">Investors</div>
                    <div class="investors">Sustainability</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div15">
            <div class="div16">
              <div class="selected-location-in">
                <img
                  class="material-design-iconsoutlined"
                  alt=""
                  src="{% static 'material-design-iconsoutlined5.svg' %}"
                />

                <div class="india">India</div>
              </div>
              <div class="design-highly-inspired">
                © 2022 Design Highly inspired by Nike.com
              </div>
            </div>
            <div class="ul7">
              <div class="guides">Guides</div>
              <div class="terms-of-sale">Terms of Sale</div>
              <div class="terms-of-use">Terms of Use</div>
              <div class="our-privacy-policy">Our Privacy Policy</div>
            </div>
          </div>
        </div>
      </div>
      <div class="homepage-child"></div>
      <button class="shop-now">SHOP NOW</button>
      <input type="text" class="homepage-item" id="search-textarea"/>
      <b class="search" id="search-label">search</b>
      <img class="image-1-icon" alt="" src="{% static "Fimages/image-1@2x.png" %}" />

      <div class="homepage-inner"></div>
      <button class="login" id="login">Login</button>
      <div class="home">
        <b>HOME</b>
        <span> </span>
      </div>
      <b class="category">CATEGORY</b>
      <b class="filter">FILTER</b>
      <b class="cart">
        <p class="the-best-way">&nbsp;</p>
        <p class="the-best-way">CART</p>
      </b>
      <button class="image-3"></button>
      <img class="image-4-icon" alt="" src="{% static 'Fimages/image-4@2x.png' %}" />

      <img class="image-5-icon" alt="" src="{% static 'Fimages/image-5@2x.png' %}" />

      <img class="image-6-icon" alt="" src="{% static 'Fimages/image-6@2x.png' %}" />

      <b class="up-to-60-container">
        <p class="the-best-way">Up to 60% off | Styles for</p>
        <p class="the-best-way">&nbsp;</p>
        <p class="the-best-way">women</p>
      </b>
      <img class="image-7-icon" alt="" src="{% static 'Fimages/image-7@2x.png' %}" />

      <img class="image-8-icon" alt="" src="{% static 'Fimages/image-8@2x.png' %}" />

      <img class="image-9-icon" alt="" src="{% static 'Fimages/image-9@2x.png' %}" />

      <img class="image-10-icon" alt="" src="{% static 'Fimages/image-10@2x.png' %}" />

      <b class="appliances-for-your">Appliances for your home</b>
      <b class="up-to-55-container">
        <p class="the-best-way">&nbsp;</p>
        <p class="the-best-way">&nbsp;</p>
        <p class="the-best-way">Up to 55% off</p>
      </b>
      <b class="text">
        <p class="the-best-way">&nbsp;</p>
        <p class="the-best-way">&nbsp;</p>
        <p class="the-best-way">&nbsp;</p>
      </b>
    </div>

    <script>
      var login = document.getElementById("login");
      if (login) {
        login.addEventListener("click", function (e) {
          window.location.href = "{% url 'Flogin' %}";
        });
      }
      </script>
  </body>
</html>
