{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static "css/Fglobal.css" %}" />
    <link rel="stylesheet" href="{% static "css/Fsearch_category.css" %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,600;0,700;1,900&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400;500;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson Text:wght@400;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;1,400&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hiragino Kaku Gothic Pro:wght@400&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&amp;display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <i class="salecart2">SaleCart</i>
      <input class="desktop-1-child" type="text" />

      <div class="search1">search</div>
      <button class="image-1"></button>
      <button class="material-design-iconsoutlined4">
        <img class="vector-icon" alt="" src="./public/span.svg" />

        <img class="vector-icon1" alt="" src="./public/vector.svg" />
      </button>
      <button class="material-design-iconsoutlined5">
        <img class="vector-icon" alt="" src="./public/span.svg" />

        <img class="vector-icon3" alt="" src="./public/vector1.svg" />
      </button>
      <div class="desktop-1-item"></div>
      <input class="desktop-1-inner" type="text" />

      <div class="price">
        <span class="price-txt">
          <p class="puma">Price</p>
        </span>
      </div>
      <div class="puma-nike-adidas-container">
        <span class="price-txt">
          <p class="puma">Puma</p>
          <p class="puma">&nbsp;</p>
          <p class="puma">Nike</p>
          <p class="puma">&nbsp;</p>
          <p class="puma">Adidas</p>
          <p class="puma">&nbsp;</p>
          <p class="puma">Zara</p>
          <p class="puma">&nbsp;</p>
          <p class="puma">H&amp;M</p>
        </span>
      </div>
      <div class="brand">Brand</div>
      <div class="amezon-flipcart-myntra-container">
        <span class="price-txt">
          <p class="puma">amezon</p>
          <p class="puma">&nbsp;</p>
          <p class="puma">flipcart</p>
          <p class="puma">&nbsp;</p>
          <p class="puma">myntra</p>
        </span>
      </div>
      <div class="store">Store</div>
      <div class="desktop-1-child1"></div>
      <div class="ellipse-div"></div>
      <div class="women-men-kids">women men kids customise sale</div>
      <img class="desktop-1-child2" alt="" src="./public/rectangle-7.svg" />

      <img class="desktop-1-child3" alt="" src="./public/rectangle-7.svg" />

      <img class="desktop-1-child4" alt="" src="./public/rectangle-7.svg" />

      <img class="desktop-1-child5" alt="" src="./public/rectangle-7.svg" />

      <img class="desktop-1-child6" alt="" src="./public/rectangle-7.svg" />

      <img class="desktop-1-child7" alt="" src="./public/rectangle-7.svg" />

      <img class="desktop-1-child8" alt="" src="./public/rectangle-7.svg" />

      <img class="desktop-1-child9" alt="" src="./public/rectangle-7.svg" />

      <input class="desktop-1-child10" type="text" />

      <button class="desktop-1-child11"></button>
      <div class="go">Go</div>
      <div class="desktop-1-child12"></div>
      <div class="fastcolour-track-pants">FastColour Track Pants</div>
      <div class="desktop-1-child13"></div>
      <div class="desktop-1-child14"></div>
      <div class="mens-glossy-black">Mens Glossy Black Shirt</div>
      <img class="image-11-icon" alt="" src="./public/image-11@2x.png" />

      <img class="image-12-icon" alt="" src="./public/image-12@2x.png" />

      <img class="image-13-icon" alt="" src="./public/image-13@2x.png" />

      <div class="fastcolour-track-pants-container">
        <span class="price-txt">
          <p class="puma">FastColour Track Pants</p>
          <p class="puma">combo</p>
        </span>
      </div>
      <div class="flipkart">Flipkart</div>
      <button class="desktop-1-child15"></button>
      <button class="buy">Buy</button>
      <div class="flipkart1">Flipkart</div>
      <img class="image-14-icon" alt="" src="./public/image-14@2x.png" />

      <button class="desktop-1-child16"></button>
      <button class="buy1">Buy</button>
      <img class="image-15-icon" alt="" src="./public/image-15@2x.png" />

      <img class="image-16-icon" alt="" src="./public/image-16@2x.png" />

      <div class="flipkart2">Flipkart</div>
      <button class="desktop-1-child17"></button>
      <button class="buy2">Buy</button>
      <div class="desktop-1-child18"></div>
      <div class="women-casual-wear">women casual wear</div>
      <img class="image-19-icon" alt="" src="./public/image-19@2x.png" />

      <img class="image-20-icon" alt="" src="./public/image-14@2x.png" />

      <div class="flipkart3">Flipkart</div>
      <button class="desktop-1-child19"></button>
      <div class="buy3">Buy</div>
      <div class="desktop-1-child20"></div>
      <div class="women-trendy-wear">women trendy wear</div>
      <img class="image-22-icon" alt="" src="./public/image-14@2x.png" />

      <div class="flipkart4">Flipkart</div>
      <button class="desktop-1-child21"></button>
      <div class="buy4">Buy</div>
      <div class="off">
        <span class="price-txt">
          <span> ₹ 599</span>
          <span class="off1">(50% off)</span>
        </span>
      </div>
      <div class="desktop-1-child22"></div>
      <div class="women-white-t-shirt">women white t-shirt</div>
      <img class="image-24-icon" alt="" src="./public/image-16@2x.png" />

      <div class="flipkart5">Flipkart</div>
      <button class="desktop-1-child23"></button>
      <div class="buy5">Buy</div>
      <div class="off2">
        <span> ₹ 349</span>
        <span class="off1">(76% off)</span>
      </div>
      <img class="image-25-icon" alt="" src="./public/image-25@2x.png" />

      <img class="image-26-icon" alt="" src="./public/image-26@2x.png" />

      <img class="image-26-icon" alt="" src="./public/image-26@2x.png" />

      <img class="image-26-icon" alt="" src="./public/image-26@2x.png" />

      <div class="off4">
        <span class="price-txt">
          <span> ₹ 474</span>
          <span class="off1">(44% off)</span>
        </span>
      </div>
      <div class="footer2">
        <div class="div30">
          <div class="div31">
            <div class="div32">
              <div class="div33">
                <div class="ul12">
                  <div class="find-a-store2">Find A Store</div>
                  <div class="find-a-store2">Become A Member</div>
                  <div class="find-a-store2">Sign Up for Email</div>
                  <div class="send-us-feedback2">Send Us Feedback</div>
                  <div class="send-us-feedback2">Student Discounts</div>
                </div>
              </div>
            </div>
            <div class="div34">
              <div class="div35">
                <div class="ul13">
                  <div class="get-help2">Get Help</div>
                  <div class="order-status2">Order Status</div>
                  <div class="delivery2">Delivery</div>
                  <div class="delivery2">Returns</div>
                  <div class="order-status2">Payment Options</div>
                  <div class="order-status2">Contact Us On Inquiries</div>
                </div>
              </div>
            </div>
            <div class="div36">
              <div class="div35">
                <div class="ul14">
                  <div class="get-help2">About US</div>
                  <div class="order-status2">News</div>
                  <div class="order-status2">Careers</div>
                  <div class="investors2">Investors</div>
                  <div class="investors2">Sustainability</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div38">
          <div class="div39">
            <div class="selected-location-in2">
              <img
                class="material-design-iconsoutlined6"
                alt=""
                src="./public/material-design-iconsoutlined3.svg"
              />

              <div class="india2">India</div>
            </div>
            <div class="design-highly-inspired2">
              © 2022 Design Highly inspired by Nike.com
            </div>
          </div>
          <div class="ul15">
            <div class="guides2">Guides</div>
            <div class="terms-of-sale2">Terms of Sale</div>
            <div class="terms-of-use2">Terms of Use</div>
            <div class="our-privacy-policy2">Our Privacy Policy</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
