{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/Fglobal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Fsignup.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,600;0,700;1,900&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400;500;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson Text:wght@400;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;1,400&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hiragino Kaku Gothic Pro:wght@400&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&amp;display=swap"
    />
  </head>
  <body>
    <nav class="sign-up-and-login-design">
      <section class="sign-up-and-login-design-inner">
        <header class="salecart-parent">
          <h2 class="salecart6">SaleCart</h2>
          <header class="salecart-group">
            <i class="salecart7">SaleCart</i>
            <div class="frame-parent7">
              <div class="men-parent3">
                <div class="men5">Men</div>
                <div class="women6">Women</div>
                <div class="men5">Kids</div>
                <div class="customise5">Customise</div>
                <div class="sale5">Sale</div>
              </div>
              <div class="div-parent3">
                <div class="div145">
                  <div class="search-products2">
                    <div class="divplaceholder2">
                      <div class="search4">Search</div>
                    </div>
                  </div>
                  <div class="open-search-modal2">
                    <img
                      class="material-design-iconsoutlined23"
                      alt=""
                      src="{% static 'Fimages/material-design-iconsoutlined6.svg' %}"
                    />
                  </div>
                </div>
                <div class="div146">
                  <img
                    class="material-design-iconsoutlined23"
                    alt=""
                    src="{% static 'Fimages/material-design-iconsoutlined11.svg' %}"
                  />

                  <img
                    class="material-design-iconsoutlined23"
                    alt=""
                    src="{% static 'Fimages/material-design-iconsoutlined21.svg' %}"
                  />
                </div>
              </div>
            </div>
          </header>
        </header>
      </section>
      <img
        class="material-design-iconsoutlined26"
        alt=""
        src="{% static 'Fimages/material-design-iconsoutlined31.svg' %}"
      />

      <img
        class="material-design-iconsoutlined27"
        alt=""
        src="{% static 'Fimages/material-design-iconsoutlined41.svg' %}"
      />

      <footer class="footer7">
        <div class="div147">
          <div class="div148">
            <div class="div149">
              <div class="div150">
                <div class="div151">
                  <div class="ul45">
                    <div class="find-a-store7">Find A Store</div>
                    <div class="find-a-store7">Become A Member</div>
                    <div class="find-a-store7">Sign Up for Email</div>
                    <div class="send-us-feedback7">Send Us Feedback</div>
                    <div class="send-us-feedback7">Student Discounts</div>
                  </div>
                </div>
              </div>
              <div class="div152">
                <div class="div153">
                  <div class="ul46">
                    <div class="get-help7">Get Help</div>
                    <div class="order-status7">Order Status</div>
                    <div class="delivery7">Delivery</div>
                    <div class="delivery7">Returns</div>
                    <div class="order-status7">Payment Options</div>
                    <div class="order-status7">Contact Us On Inquiries</div>
                  </div>
                </div>
              </div>
              <div class="div154">
                <div class="div153">
                  <div class="ul47">
                    <div class="get-help7">About US</div>
                    <div class="order-status7">News</div>
                    <div class="order-status7">Careers</div>
                    <div class="investors7">Investors</div>
                    <div class="investors7">Sustainability</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div156">
            <div class="div157">
              <div class="selected-location-in7">
                <img
                  class="material-design-iconsoutlined28"
                  alt=""
                  src="{% static 'Fimages/material-design-iconsoutlined5.svg' %}"
                />

                <div class="india7">India</div>
              </div>
              <div class="design-highly-inspired7">
                © 2022 Design Highly inspired by Nike.com
              </div>
            </div>
            <div class="ul48">
              <div class="guides7">Guides</div>
              <div class="terms-of-sale7">Terms of Sale</div>
              <div class="terms-of-use7">Terms of Use</div>
              <div class="our-privacy-policy7">Our Privacy Policy</div>
            </div>
          </div>
        </div>
      </footer>
      <div class="div158">
        <h2 class="log-into-this">Log into This website</h2>
        <div class="div159">
          <form class="form">
            {% csrf_token %}
            <div class="div160">
              <div class="email-address">Email address</div>
              <div class="div161">
                <input class="login_email" placeholder="Email address" type="email" name="login-email"/>
              </div>
              <div class="div162">
                <div class="div163"></div>
              </div>
            </div>
            <label class="label">
              <div class="password1">Password</div>
              <div class="div164">
                <input class="password2" placeholder="Password" type="Password" name="login-password"/>
                <div class="div165"></div>
                <img class="svg-icon" alt="" src="{% static 'Fimages/svg.svg' %}" />
              </div>
            </label>
            <button class="button9" id="login-button">
              <div class="log-in">Sign Up</div>
            </button>
          </form>
          <div class="div166">
            <div class="div167"></div>
            <div class="or">or</div>
            <div class="div168"></div>
          </div>
          <div class="ul49">
            <button class="button10" autofocus="{true}" id="button1">
              <img class="svg-icon1" alt="" src="{% static 'Fimages/svg1.svg' %}" />

              <div class="continue-with-google">Continue with Google</div>
            </button>
            <button class="button11" id="button2">
              <img class="svg-icon2" alt="" src="{% static 'Fimages/svg2.svg' %}" />

              <div class="continue-with-apple">Continue with Apple</div>
            </button>
          </div>
        </div>
        <div class="a64">
          <span class="span3">
            <div class="cant-log-in">Can't log in? <a class="signup-link" href="{% url 'Flogin' %}">Login</a></div>
            <img class="span-icon" alt="" src="{% static 'Fimages/span.svg' %}" />
          </span>
        </div>
        <span class="span4">
          <div class="secure-login-with">
            Secure Login with reCAPTCHA subject to Google
          </div>
          <div class="a65">
            <div class="br">
              <p class="blank-line20">&nbsp;</p>
            </div>
            <div class="terms">Terms</div>
          </div>
          <div class="privacy">&amp; Privacy</div>
        </span>
      </div>
    </nav>

    <script>
      var button = document.getElementById("login-button");
      if (button) {
        button.addEventListener("click", function (e) {
          window.location.href = "{% url 'Fhomepage' %}";
        });
      }
      
      var button1 = document.getElementById("button1");
      if (button1) {
        button1.addEventListener("click", function (e) {
          window.location.href = "{% url 'Fhomepage' %}";
        });
      }

      var button2 = document.getElementById("button2");
      if (button2) {
        button2.addEventListener("click", function (e) {
          window.location.href = "{% url 'Fhomepage' %}";
        });
      }
      </script>
  </body>
</html>
