{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static "css/Fglobal.css" %}" />
    <link rel="stylesheet" href="{% static "css/Fuserprofile.css" %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,600;0,700;1,900&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400;500;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson Text:wght@400;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;1,400&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hiragino Kaku Gothic Pro:wght@400&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&amp;display=swap"
    />
  </head>
  <body>
    <a class="user-profile">
      <footer class="footer1">
        <div class="div17">
          <div class="div18">
            <div class="div19">
              <div class="div20">
                <div class="div21">
                  <div class="ul8">
                    <div class="find-a-store1">Find A Store</div>
                    <div class="find-a-store1">Become A Member</div>
                    <div class="find-a-store1">Sign Up for Email</div>
                    <div class="send-us-feedback1">Send Us Feedback</div>
                    <div class="send-us-feedback1">Student Discounts</div>
                  </div>
                </div>
              </div>
              <div class="div22">
                <div class="div23">
                  <div class="ul9">
                    <div class="get-help1">Get Help</div>
                    <div class="order-status1">Order Status</div>
                    <div class="delivery1">Delivery</div>
                    <div class="delivery1">Returns</div>
                    <div class="order-status1">Payment Options</div>
                    <div class="order-status1">Contact Us On Inquiries</div>
                  </div>
                </div>
              </div>
              <div class="div24">
                <div class="div23">
                  <div class="ul10">
                    <div class="get-help1">About US</div>
                    <div class="order-status1">News</div>
                    <div class="order-status1">Careers</div>
                    <div class="investors1">Investors</div>
                    <div class="investors1">Sustainability</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div26">
            <div class="div27">
              <div class="selected-location-in1">
                <img
                  class="material-design-iconsoutlined1"
                  alt=""
                  src="./public/material-design-iconsoutlined3.svg"
                />

                <div class="india1">India</div>
              </div>
              <div class="design-highly-inspired1">
                © 2022 Design Highly inspired by Nike.com
              </div>
            </div>
            <div class="ul11">
              <div class="guides1">Guides</div>
              <div class="frame">
                <div class="our-privacy-policy1">Our Privacy Policy</div>
                <div class="frame1">
                  <div class="terms-of-sale1">Terms of Sale</div>
                  <div class="our-privacy-policy1">Terms of Use</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <section class="user-profile-inner">
        <header class="frame-wrapper">
          <header class="frame-container">
            <div class="frame-parent">
              <div class="men-parent">
                <div class="men">Men</div>
                <div class="women1">Women</div>
                <div class="men">Kids</div>
                <div class="customise">Customise</div>
                <div class="sale">Sale</div>
              </div>
              <h1 class="salecart1">SaleCart</h1>
              <div class="div-parent">
                <input class="div28" type="text" />

                <div class="div29">
                  <img
                    class="material-design-iconsoutlined2"
                    alt=""
                    src="./public/material-design-iconsoutlined1.svg"
                  />

                  <img
                    class="material-design-iconsoutlined2"
                    alt=""
                    src="./public/material-design-iconsoutlined2.svg"
                  />
                </div>
              </div>
            </div>
          </header>
        </header>
      </section>
      <img class="frame-icon" alt="" src="./public/frame.svg" />

      <div class="user-profile-child"></div>
      <div class="user-profile-item"></div>
      <button class="my-orders-wishlist-container">
        <span class="my-orders-wishlist-container1">
          <p class="my-orders">My Orders</p>
          <p class="my-orders">&nbsp;</p>
          <p class="my-orders">Wishlist</p>
          <p class="my-orders">&nbsp;</p>
          <p class="my-orders">Notifications</p>
          <p class="my-orders">&nbsp;</p>
          <p class="my-orders">Settings</p>
        </span>
      </button>
      <b class="user">User</b>
      <img class="ellipse-icon" alt="" src="./public/ellipse-2@2x.png" />

      <div class="rectangle-div"></div>
      <div class="frame-div"></div>
      <div class="log-out-wrapper">
        <div class="log-out">Log Out</div>
      </div>
      <div class="user-profile-child1"></div>
      <img class="rectangle-icon" alt="" src="{% static "Fimages/rectangle-46.svg" %}" />

      <img class="user-profile-child2" alt="" src="{% static "Fimages/rectangle-46.svg" %}" />

      <input class="rectangle-input" type="text" />

      <div class="user-profile-child3"></div>
      <div class="first-name-last-container">
        <span class="my-orders-wishlist-container1">
          <p class="my-orders">
            <i>First Name</i>
          </p>
          <p class="my-orders">
            <i>&nbsp;</i>
          </p>
          <p class="my-orders">
            <i>Last Name</i>
          </p>
          <p class="my-orders">
            <i>&nbsp;</i>
          </p>
          <p class="my-orders">
            <i>Email</i>
          </p>
          <p class="my-orders">
            <i>&nbsp;</i>
          </p>
          <p class="my-orders">
            <i>Password</i>
            <span class="span"> </span>
          </p>
        </span>
      </div>
      <b class="customer-profile">Customer Profile</b>
      <input class="user-profile-child4" type="text" />

      <button class="rectangle-button"></button>
      <button class="forget-password">forget password</button>
      <button class="user-profile-child5"></button>
      <b class="edit-profile">Edit profile</b>
    </a>
  </body>
</html>
